.grid {
    margin: 15px;
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    background-color: lightgrey;
    padding: 5px;
}

.grid-item-header {
    font-weight: 700;
}

.grid-2col {
    grid-column: 2/4;
}

.win {
    background-color: lightgreen;
}

.loss {
    background-color: lightsalmon;
}

.draw {
    background-color: lightblue;
}

@media only screen and (max-width: 620px) {
    html body {
        background-color: black;
    }
}